body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: rgb(50, 50, 50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.pageConteiner {
  margin: 2rem 4rem;
}
